bc2/sample/Schema/camt.006.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.2.1) on 2009 Jul 01 10:55:48--><xs:schema xmlns="urn:swift:xsd:camt.006.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.006.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountCashEntryDetails3">
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTp" type="CashAccountType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtrySts" type="EntryStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier"/>
                <xs:element name="BBAN" type="BBANIdentifier"/>
                <xs:element name="UPIC" type="UPICIdentifier"/>
                <xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AmtWthCcy" type="CurrencyAndAmount"/>
                <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancelledStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashAccountType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="TAXE"/>
            <xs:enumeration value="CISH"/>
            <xs:enumeration value="TRAS"/>
            <xs:enumeration value="SACC"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SVGS"/>
            <xs:enumeration value="ONDP"/>
            <xs:enumeration value="MGLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashClearingSystem1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABE"/>
            <xs:enumeration value="ART"/>
            <xs:enumeration value="AVP"/>
            <xs:enumeration value="AZM"/>
            <xs:enumeration value="BAP"/>
            <xs:enumeration value="BEL"/>
            <xs:enumeration value="BOF"/>
            <xs:enumeration value="BRL"/>
            <xs:enumeration value="CAD"/>
            <xs:enumeration value="CAM"/>
            <xs:enumeration value="CBJ"/>
            <xs:enumeration value="CHP"/>
            <xs:enumeration value="DKC"/>
            <xs:enumeration value="RTP"/>
            <xs:enumeration value="EBA"/>
            <xs:enumeration value="ELS"/>
            <xs:enumeration value="ERP"/>
            <xs:enumeration value="XCT"/>
            <xs:enumeration value="HRK"/>
            <xs:enumeration value="HRM"/>
            <xs:enumeration value="HUF"/>
            <xs:enumeration value="LGS"/>
            <xs:enumeration value="LVL"/>
            <xs:enumeration value="MOS"/>
            <xs:enumeration value="MUP"/>
            <xs:enumeration value="NOC"/>
            <xs:enumeration value="PCH"/>
            <xs:enumeration value="PDS"/>
            <xs:enumeration value="PEG"/>
            <xs:enumeration value="PNS"/>
            <xs:enumeration value="PVE"/>
            <xs:enumeration value="SEC"/>
            <xs:enumeration value="SIT"/>
            <xs:enumeration value="SLB"/>
            <xs:enumeration value="SPG"/>
            <xs:enumeration value="SSK"/>
            <xs:enumeration value="TBF"/>
            <xs:enumeration value="TGT"/>
            <xs:enumeration value="TOP"/>
            <xs:enumeration value="FDW"/>
            <xs:enumeration value="BOJ"/>
            <xs:enumeration value="FEY"/>
            <xs:enumeration value="ZEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
                <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
                <xs:element name="IENSC" type="IrishNSCIdentifier"/>
                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
                <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
                <xs:element name="CHBC" type="SwissBCIdentifier"/>
                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
                <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
                <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
                <xs:element name="CHSIC" type="SwissSICIdentifier"/>
                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
                <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
                <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTm" type="ISODateTime"/>
                <xs:element name="ToDtTm" type="ISODateTime"/>
                <xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrTx" type="ReturnTransactionV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EntryStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOK"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="FUTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EntryTypeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorHandling1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ErrorHandling1Code"/>
                <xs:element name="Prtry" type="Max4AlphaNumericText"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X020"/>
            <xs:enumeration value="X030"/>
            <xs:enumeration value="X050"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorHandling3">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinalStatusCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="RJTD"/>
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="FNLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemberIdentificationChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier"/>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberAndSumOfTransactions2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfNtries" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sum" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNetNtryAmt" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentCommonDetails4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFr" type="SystemDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTo" type="SystemDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonInstrSts" type="PaymentStatusDetails4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfValDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentDetails7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfValDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrSts" type="PaymentStatusDetails4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAmt" type="AmountChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmAmt" type="AmountChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityCodeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgVldtyTm" type="DateTimePeriodChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrCpy" type="Max20000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTp" type="PaymentType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTxPty" type="PaymentTransactionParty"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtInstrRef" type="Max35Text"/>
                <xs:element name="QId" type="QueueTransactionIdentificationDetails"/>
                <xs:element name="LngBizId" type="PaymentInstructionReferenceDetails4"/>
                <xs:element name="ShrtBizId" type="PaymentInstructionReferenceDetails2"/>
                <xs:element name="PrtryRef" type="Max70Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstructionReferenceDetails2">
        <xs:sequence>
            <xs:element name="PmtInstrRef" type="Max35Text"/>
            <xs:element name="IntrBkValDt" type="ISODate"/>
            <xs:element name="InstgAgtId" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstructionReferenceDetails4">
        <xs:sequence>
            <xs:element name="PmtInstrRef" type="Max35Text"/>
            <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="IntrBkValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice"/>
            <xs:element name="InstgAgtId" type="BICIdentifier"/>
            <xs:element name="InstdAgtId" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryTp" type="EntryTypeIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentInstrument1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BDT"/>
            <xs:enumeration value="BCT"/>
            <xs:enumeration value="CDT"/>
            <xs:enumeration value="CCT"/>
            <xs:enumeration value="CHK"/>
            <xs:enumeration value="BKT"/>
            <xs:enumeration value="DCP"/>
            <xs:enumeration value="CCP"/>
            <xs:enumeration value="RTI"/>
            <xs:enumeration value="CAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentOrigin1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FINMT" type="Max3NumericText"/>
                <xs:element name="XMLMsgNm" type="Max35Text"/>
                <xs:element name="Prtry" type="Max35Text"/>
                <xs:element name="Instrm" type="PaymentInstrument1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusCode4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PdgSts" type="PendingStatus4Code"/>
                <xs:element name="FnlSts" type="FinalStatusCode"/>
                <xs:element name="PrtrySts" type="Max4AlphaNumericText"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusDetails4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrSts" type="PaymentStatusCode4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrStsDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtInstrStsRsn" type="PaymentStatusReasonCode4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusReasonCode4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="UmtchdStsRsn" type="UnmatchedStatusReason1Code"/>
                <xs:element name="CancStsRsn" type="CancelledStatusReason1Code"/>
                <xs:element name="SspdStsRsn" type="SuspendedStatusReason1Code"/>
                <xs:element name="PdgFlngSttlm" type="PendingFailingSettlement1Code"/>
                <xs:element name="PdgSttlm" type="PendingSettlement2Code"/>
                <xs:element name="PrtryRjctnRsn" type="ProprietaryStatusJustification"/>
                <xs:element name="PrtryRsn" type="Max4AlphaNumericText"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTransactionParty">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstAgt" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstgAgtCrspdt" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAgtCrspdt" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlAgt" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtTp" type="PaymentType3Code"/>
                <xs:element name="PrtryPmtTp" type="Max4AlphaNumericText"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBS"/>
            <xs:enumeration value="BCK"/>
            <xs:enumeration value="BAL"/>
            <xs:enumeration value="CLS"/>
            <xs:enumeration value="CTR"/>
            <xs:enumeration value="CBH"/>
            <xs:enumeration value="CBP"/>
            <xs:enumeration value="DPG"/>
            <xs:enumeration value="DPN"/>
            <xs:enumeration value="EXP"/>
            <xs:enumeration value="TCH"/>
            <xs:enumeration value="LMT"/>
            <xs:enumeration value="LIQ"/>
            <xs:enumeration value="DPP"/>
            <xs:enumeration value="DPH"/>
            <xs:enumeration value="DPS"/>
            <xs:enumeration value="STF"/>
            <xs:enumeration value="TRP"/>
            <xs:enumeration value="TCS"/>
            <xs:enumeration value="LOA"/>
            <xs:enumeration value="LOR"/>
            <xs:enumeration value="TCP"/>
            <xs:enumeration value="OND"/>
            <xs:enumeration value="MGL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingFailingSettlement1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="GUAD"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MUNO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingSettlement2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="TAMM"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="GUAD"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="PCAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingStatus4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPD"/>
            <xs:enumeration value="VALD"/>
            <xs:enumeration value="MATD"/>
            <xs:enumeration value="AUTD"/>
            <xs:enumeration value="INVD"/>
            <xs:enumeration value="UMAC"/>
            <xs:enumeration value="STLE"/>
            <xs:enumeration value="STLM"/>
            <xs:enumeration value="SSPD"/>
            <xs:enumeration value="PCAN"/>
            <xs:enumeration value="PSTL"/>
            <xs:enumeration value="PFST"/>
            <xs:enumeration value="SMLR"/>
            <xs:enumeration value="RMLR"/>
            <xs:enumeration value="SRBL"/>
            <xs:enumeration value="AVLB"/>
            <xs:enumeration value="SRML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Priority1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
            <xs:enumeration value="LOWW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriorityCodeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Priority1Code"/>
                <xs:element name="PrtryCd" type="Max4AlphaNumericText"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusJustification">
        <xs:sequence>
            <xs:element name="PrtryStsRsn" type="Max4AlphaNumericText"/>
            <xs:element name="Rsn" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueryReference">
        <xs:sequence>
            <xs:element name="QryRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueueTransactionIdentificationDetails">
        <xs:sequence>
            <xs:element name="QId" type="Max16Text"/>
            <xs:element name="PosInQ" type="Max16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnTransactionV04">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizQryRef" type="QueryReference"/>
            <xs:choice>
                <xs:element name="BizRpt" type="Transactions4"/>
                <xs:element name="OprlErr" type="ErrorHandling3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SuspendedStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUBY"/>
            <xs:enumeration value="SUBS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysId" type="CashClearingSystem1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MmbId" type="MemberIdentificationChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTo" type="SystemDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFr" type="SystemDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pmt" type="PaymentDetails7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNtry" type="AccountCashEntryDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReportDetails5">
        <xs:sequence>
            <xs:element name="InstrRef" type="PaymentIdentification3Choice"/>
            <xs:choice>
                <xs:element name="Tx" type="Transaction5"/>
                <xs:element name="BizErr" type="ErrorHandling3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transactions4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtCmonInf" type="PaymentCommonDetails4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxsSummry" type="NumberAndSumOfTransactions2"/>
            <xs:element maxOccurs="1" minOccurs="1" name="TxRpt" type="TransactionReportDetails5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnmatchedStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="CADE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="VASU"/>
            <xs:enumeration value="DTRA"/>
            <xs:enumeration value="RSPR"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="RERT"/>
            <xs:enumeration value="REPA"/>
            <xs:enumeration value="REPP"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="FRAP"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="REGD"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="ICUS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
