bc2/sample/Schema/camt.005.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.2.1) on 2009 Jul 01 10:55:48--><xs:schema xmlns="urn:swift:xsd:camt.005.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.005.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountCashEntryReturnCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryRefInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTpInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryAmtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCcyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryStsInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryDtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSrcrInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountCashEntrySearch2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctId" type="AccountIdentificationSearchCriteriaChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtryAmt" type="AmountRangeChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtryAmtCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtrySts" type="EntryStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtryDt" type="DateAndDateTimeSearchChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier"/>
                <xs:element name="BBAN" type="BBANIdentifier"/>
                <xs:element name="UPIC" type="UPICIdentifier"/>
                <xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationSearchCriteriaChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="EQ" type="AccountIdentification1Choice"/>
                <xs:element name="CTTxt" type="Max35Text"/>
                <xs:element name="NCTTxt" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountRangeBoundary1">
        <xs:sequence>
            <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Incl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountRangeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange"/>
                <xs:element name="CcyAndAmtRg" type="CurrencyAndAmountRange"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashClearingSystem1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABE"/>
            <xs:enumeration value="ART"/>
            <xs:enumeration value="AVP"/>
            <xs:enumeration value="AZM"/>
            <xs:enumeration value="BAP"/>
            <xs:enumeration value="BEL"/>
            <xs:enumeration value="BOF"/>
            <xs:enumeration value="BRL"/>
            <xs:enumeration value="CAD"/>
            <xs:enumeration value="CAM"/>
            <xs:enumeration value="CBJ"/>
            <xs:enumeration value="CHP"/>
            <xs:enumeration value="DKC"/>
            <xs:enumeration value="RTP"/>
            <xs:enumeration value="EBA"/>
            <xs:enumeration value="ELS"/>
            <xs:enumeration value="ERP"/>
            <xs:enumeration value="XCT"/>
            <xs:enumeration value="HRK"/>
            <xs:enumeration value="HRM"/>
            <xs:enumeration value="HUF"/>
            <xs:enumeration value="LGS"/>
            <xs:enumeration value="LVL"/>
            <xs:enumeration value="MOS"/>
            <xs:enumeration value="MUP"/>
            <xs:enumeration value="NOC"/>
            <xs:enumeration value="PCH"/>
            <xs:enumeration value="PDS"/>
            <xs:enumeration value="PEG"/>
            <xs:enumeration value="PNS"/>
            <xs:enumeration value="PVE"/>
            <xs:enumeration value="SEC"/>
            <xs:enumeration value="SIT"/>
            <xs:enumeration value="SLB"/>
            <xs:enumeration value="SPG"/>
            <xs:enumeration value="SSK"/>
            <xs:enumeration value="TBF"/>
            <xs:enumeration value="TGT"/>
            <xs:enumeration value="TOP"/>
            <xs:enumeration value="FDW"/>
            <xs:enumeration value="BOJ"/>
            <xs:enumeration value="FEY"/>
            <xs:enumeration value="ZEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashPaymentStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="FINL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
                <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
                <xs:element name="IENSC" type="IrishNSCIdentifier"/>
                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
                <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
                <xs:element name="CHBC" type="SwissBCIdentifier"/>
                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
                <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
                <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
                <xs:element name="CHSIC" type="SwissSICIdentifier"/>
                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
                <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
                <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmountRange">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Ccy" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeSearchChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTmSch" type="DateTimePeriodChoice"/>
                <xs:element name="DtSch" type="DateSearchChoice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateSearchChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate"/>
                <xs:element name="ToDt" type="ISODate"/>
                <xs:element name="FrToDt" type="DatePeriodDetails"/>
                <xs:element name="EQDt" type="ISODate"/>
                <xs:element name="NEQDt" type="ISODate"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTm" type="ISODateTime"/>
                <xs:element name="ToDtTm" type="ISODateTime"/>
                <xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetTx" type="GetTransactionV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EntryStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOK"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="FUTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EntryTypeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinalStatusCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="RJTD"/>
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="FNLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FromToAmountRange">
        <xs:sequence>
            <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
            <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GetTransactionV04">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxQryDef" type="TransactionQueryDefinition4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="ImpliedCurrencyAmountRangeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
                <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
                <xs:element name="FrToAmt" type="FromToAmountRange"/>
                <xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ImpliedCurrencyAndAmountRange">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Instruction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PBEN"/>
            <xs:enumeration value="TTIL"/>
            <xs:enumeration value="TFRO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionStatusReturnCriteria">
        <xs:sequence>
            <xs:element name="PmtInstrStsInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrStsDtTmInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrStsRsnInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionStatusSearch3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrSts" type="PaymentStatusCodeSearch2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrStsDtTm" type="DateTimePeriodChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryStsRsn" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemberIdentificationChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier"/>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtInstrRef" type="Max35Text"/>
                <xs:element name="QId" type="QueueTransactionIdentificationDetails"/>
                <xs:element name="LngBizId" type="PaymentInstructionReferenceDetails4"/>
                <xs:element name="ShrtBizId" type="PaymentInstructionReferenceDetails2"/>
                <xs:element name="PrtryRef" type="Max70Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstructionReferenceDetails2">
        <xs:sequence>
            <xs:element name="PmtInstrRef" type="Max35Text"/>
            <xs:element name="IntrBkValDt" type="ISODate"/>
            <xs:element name="InstgAgtId" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstructionReferenceDetails4">
        <xs:sequence>
            <xs:element name="PmtInstrRef" type="Max35Text"/>
            <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="IntrBkValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice"/>
            <xs:element name="InstgAgtId" type="BICIdentifier"/>
            <xs:element name="InstdAgtId" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryTp" type="EntryTypeIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentInstrument1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BDT"/>
            <xs:enumeration value="BCT"/>
            <xs:enumeration value="CDT"/>
            <xs:enumeration value="CCT"/>
            <xs:enumeration value="CHK"/>
            <xs:enumeration value="BKT"/>
            <xs:enumeration value="DCP"/>
            <xs:enumeration value="CCP"/>
            <xs:enumeration value="RTI"/>
            <xs:enumeration value="CAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentOrigin1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FINMT" type="Max3NumericText"/>
                <xs:element name="XMLMsgNm" type="Max35Text"/>
                <xs:element name="Prtry" type="Max35Text"/>
                <xs:element name="Instrm" type="PaymentInstrument1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentReturnCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRefInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfValDtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrStsRtrCrit" type="InstructionStatusReturnCriteria"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAmtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmAmtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgVldtyTmInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurpInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrCpyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMsgTpInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrRefInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkValDtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRefInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstAgtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstgAgtCrspdtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAgtCrspdtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlAgtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentSearch3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrfValDt" type="DateAndDateTimeSearchChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstrRef" type="PaymentIdentification3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstrSts" type="InstructionStatusSearch3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstdAmt" type="AmountRangeChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstdAmtCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrBkSttlmAmt" type="AmountRangeChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrBkSttlmAmtCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prty" type="PriorityCodeChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrcgVldtyTm" type="DateTimePeriodChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Instr" type="Instruction1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtTp" type="PaymentType2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtInstrRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrBkValDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTxPty" type="PaymentTransactionParty"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusCodeSearch2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PdgSts" type="PendingStatus4Code"/>
                <xs:element name="FnlSts" type="FinalStatusCode"/>
                <xs:element name="PdgAndFnlSts" type="CashPaymentStatus2Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTransactionParty">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstAgt" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstgAgtCrspdt" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAgtCrspdt" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlAgt" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtTp" type="PaymentType3Code"/>
                <xs:element name="PrtryPmtTp" type="Max4AlphaNumericText"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBS"/>
            <xs:enumeration value="BCK"/>
            <xs:enumeration value="BAL"/>
            <xs:enumeration value="CLS"/>
            <xs:enumeration value="CTR"/>
            <xs:enumeration value="CBH"/>
            <xs:enumeration value="CBP"/>
            <xs:enumeration value="DPG"/>
            <xs:enumeration value="DPN"/>
            <xs:enumeration value="EXP"/>
            <xs:enumeration value="TCH"/>
            <xs:enumeration value="LMT"/>
            <xs:enumeration value="LIQ"/>
            <xs:enumeration value="DPP"/>
            <xs:enumeration value="DPH"/>
            <xs:enumeration value="DPS"/>
            <xs:enumeration value="STF"/>
            <xs:enumeration value="TRP"/>
            <xs:enumeration value="TCS"/>
            <xs:enumeration value="LOA"/>
            <xs:enumeration value="LOR"/>
            <xs:enumeration value="TCP"/>
            <xs:enumeration value="OND"/>
            <xs:enumeration value="MGL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PendingStatus4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPD"/>
            <xs:enumeration value="VALD"/>
            <xs:enumeration value="MATD"/>
            <xs:enumeration value="AUTD"/>
            <xs:enumeration value="INVD"/>
            <xs:enumeration value="UMAC"/>
            <xs:enumeration value="STLE"/>
            <xs:enumeration value="STLM"/>
            <xs:enumeration value="SSPD"/>
            <xs:enumeration value="PCAN"/>
            <xs:enumeration value="PSTL"/>
            <xs:enumeration value="PFST"/>
            <xs:enumeration value="SMLR"/>
            <xs:enumeration value="RMLR"/>
            <xs:enumeration value="SRBL"/>
            <xs:enumeration value="AVLB"/>
            <xs:enumeration value="SRML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Priority1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
            <xs:enumeration value="LOWW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriorityCodeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Priority1Code"/>
                <xs:element name="PrtryCd" type="Max4AlphaNumericText"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL"/>
            <xs:enumeration value="CHNG"/>
            <xs:enumeration value="MODF"/>
            <xs:enumeration value="DELD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QueueTransactionIdentificationDetails">
        <xs:sequence>
            <xs:element name="QId" type="Max16Text"/>
            <xs:element name="PosInQ" type="Max16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STND"/>
            <xs:enumeration value="PRPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtCtrl" type="RequestType1Code"/>
                <xs:element name="Enqry" type="RequestType2Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RequestType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT01"/>
            <xs:enumeration value="RT02"/>
            <xs:enumeration value="RT03"/>
            <xs:enumeration value="RT04"/>
            <xs:enumeration value="RT05"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT11"/>
            <xs:enumeration value="RT12"/>
            <xs:enumeration value="RT13"/>
            <xs:enumeration value="RT14"/>
            <xs:enumeration value="RT15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemReturnCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MmbIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemSearch2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysId" type="CashClearingSystem1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MmbId" type="MemberIdentificationChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionCriteria3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="TransactionSearchCriteria3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtRpt" type="ReportIndicator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="TransactionReturnCriteria2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionCriteriaDefinition3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="QryNm" type="Max35Text"/>
                <xs:element name="NewCrit" type="TransactionCriteria3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionQueryDefinition4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCrit" type="TransactionCriteriaDefinition3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReturnCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtToRtrCrit" type="SystemReturnCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrRtrCrit" type="SystemReturnCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCshNtryRtrCrit" type="AccountCashEntryReturnCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtRtrCrit" type="PaymentReturnCriteria2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionSearchCriteria3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtTo" type="SystemSearch2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtFr" type="SystemSearch2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSch" type="PaymentSearch3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNtrySch" type="AccountCashEntrySearch2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
