bc2/sample/Schema/camt.050.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by SWIFTStandards Workstation (build:R7.0.2.1) on 2009 Jul 01 10:55:48--><xs:schema xmlns="urn:swift:xsd:camt.050.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.050.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier"/>
                <xs:element name="BBAN" type="BBANIdentifier"/>
                <xs:element name="UPIC" type="UPICIdentifier"/>
                <xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationDetails">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AmtWthCcy" type="CurrencyAndAmount"/>
                <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BICIdentification1">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashAccountType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="TAXE"/>
            <xs:enumeration value="CISH"/>
            <xs:enumeration value="TRAS"/>
            <xs:enumeration value="SACC"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SVGS"/>
            <xs:enumeration value="ONDP"/>
            <xs:enumeration value="MGLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="LqdtyCdtTfr" type="LiquidityCreditTransferV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LiquidityCreditTransferV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtAcctOwnr" type="BICIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtAcct" type="AccountIdentificationDetails"/>
            <xs:element name="TrfdAmt" type="AmountChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtAcctOwnr" type="BICIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtAcct" type="AccountIdentificationDetails"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
